body{
    /* !important is used to override boot strap */
    background-color: #b48383 !important;
    height: 100%;
}
.mainContainer {
    /* height:100%;
    width:100%; */
    
}
#logo img{
    height: 100px;
    width: 200px;
     float: left;
     border-radius: 50%;
     margin-top: 40px;
     margin-left:50px;
}

.navBar{
    height: 200px;
    background-color: #272626 !important;
    border: 3px solid black;
    
   
}
.navBar ul{
    padding-right: 300px;
    padding-top: 50px;
}

.navBar a {display: flex ;
    justify-content: center;
    color: white !important;
    
}

